<html>
  <body>
    <center>
      <div
        style="
          background-color: #03123b;
          max-width: 840px;
          margin: 0;
          padding: 40px;
        "
      >
        <div
          style="
            margin: 20px auto;
            width: 20rem;
            margin: 1px 2px;
            background-color: #4c7ee9;
            border-radius: 5px;
            text-align: center;
          "
        >
          <h1 style="color: white">I.Arte - Autenticação em duas etapas</h1>
        </div>

        <h2 style="color: #f8f5f5; text-align: center">
          {{name}}, identificamos uma tentativa de Login na sua conta.
        </h2>

        <p style="color: rgb(250, 249, 249)">
          Para acessar a plataforma, clique no botão abaixo, ou
          acesse o seguinte link:
        </p>

        <div
          style="
            margin: 20px auto;
            width: 5rem;
            margin: 10px 20px;
            background-color: #4c7ee9;
            border-radius: 5px;
            text-align: center;
          "
        >
          <a
            href="{{url}}"
            target="_blank"
            rel="noopener noreferrer"
            style="
              text-decoration: none;
              color: #f7f7f8;
              font-size: 18px;
              margin: 0 auto;
              width: 5rem;
            "
          >
            Site I.Arte
          </a>
        </div>
      </div>
    </center>
  </body>
</html>
