---
bodyClass: bg-slate-50
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center" class="bg-slate-50">
          <table class="w-150 sm:w-full">
            <tr>
              <td
                class="p-12 sm:py-8 sm:px-6 bg-red-700 flex justify-center"
              >
                <a href="#">
                  <img
                    src="images/logo.png"
                    width="70"
                    alt="Iart"
                    class="max-w-full align-middle [border:0]"
                  />
                </a>
                <p class="text-xl flex items-center">Log de Erro</p>
              </td>
            </tr>
            <tr>
              <td align="center" class="sm:px-6">
                <table class="w-full">
                  <tr>
                    <td
                      class="p-12 sm:px-6 bg-white text-slate-700 text-base text-left leading-6 rounded shadow-sm"
                    >
                      <p
                        class="text-2xl sm:leading-8 text-black font-semibold m-0 mb-6"
                      >
                      @{{local}}
                      </p>
                      <p class="m-0 mb-6">
                        @{{message}}
                      </p>

                    </td>
                  </tr>
                  <tr>
                    <td class="text-center text-slate-600 text-xs px-6">
                      <p style="font-size:14px; color:rgba(69, 80, 86, 0.7411764705882353); line-height:18px; margin:0 0 0;">&copy; <strong>Wanderson Santos</strong></p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
